{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <br>
    <h3>Bienvenue sur l'application qui va nous permettre de gérer les enchères de BidCardCoin</h3>
    <br>
    <h3>Hugo Divet - B2C1 - BTS SIO</h3>
    <br>
    <h4> Liste des ventes en cours </h4>
    <table class="table">
        <thead>
        <tr>
            <th>Attribute</th>
            <th>Date_fin</th>
            <th>Heure_fin</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr>
                <td>{{ vente.Attribute }}</td>
                <td>{{ vente.dateFin ? vente.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ vente.heureFin ? vente.heureFin|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('vente_show', {'id': vente.id}) }}">Voir les lots</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Il n'y a pas de ventes en cours.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
